#logo-div{
    height: 35%;
    display: flex;
    align-items: center; //Alinhamento vertical
    justify-content: center; //Horizontal

    h3{
        text-align: center;
    }
}

#logo-financas{
    height:180px;
    width: 180px;
}